Dan Team/Richard/APITestCreateOrder/EmbeddedResources/Flights_SO/webServices/Flights_SO/Flights_SO_1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s0="HP.SOAQ.SampleApp/Imports" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="HP.SOAQ.SampleApp" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="HP.SOAQ.SampleApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema targetNamespace="HP.SOAQ.SampleApp/Imports">
      <s:import schemaLocation="Flights_SO_2.xsd" namespace="HP.SOAQ.SampleApp" />
      <s:import schemaLocation="Flights_SO_3.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <s:import schemaLocation="Flights_SO_4.xsd" namespace="http://schemas.datacontract.org/2004/07/FlightsDAL" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_CreateFlightOrder_StringFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" name="detail" element="q1:string" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlights" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightsResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlightOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightOrders" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_GetFlightOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFlightOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_UpdateFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_UpdateFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteFlightOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrder" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteFlightOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteFlightOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteAllFlightOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllFlightOrders" />
  </wsdl:message>
  <wsdl:message name="IFlightsSoapService_DeleteAllFlightOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAllFlightOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="IFlightsSoapService">
    <wsdl:operation name="CreateFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrder" message="tns:IFlightsSoapService_CreateFlightOrder_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrderResponse" message="tns:IFlightsSoapService_CreateFlightOrder_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:fault wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrderStringFault" name="StringFault" message="tns:IFlightsSoapService_CreateFlightOrder_StringFault_FaultMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlights" message="tns:IFlightsSoapService_GetFlights_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightsResponse" message="tns:IFlightsSoapService_GetFlights_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrders">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrders" message="tns:IFlightsSoapService_GetFlightOrders_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrdersResponse" message="tns:IFlightsSoapService_GetFlightOrders_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrder" message="tns:IFlightsSoapService_UpdateFlightOrder_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrderResponse" message="tns:IFlightsSoapService_UpdateFlightOrder_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrder" message="tns:IFlightsSoapService_DeleteFlightOrder_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrderResponse" message="tns:IFlightsSoapService_DeleteFlightOrder_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFlightOrders">
      <wsdl:input wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrders" message="tns:IFlightsSoapService_DeleteAllFlightOrders_InputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
      <wsdl:output wsaw:Action="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrdersResponse" message="tns:IFlightsSoapService_DeleteAllFlightOrders_OutputMessage" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FlightsServiceMethods" type="tns:IFlightsSoapService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/CreateFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="StringFault">
        <soap:fault use="literal" name="StringFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFlights">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFlightOrders">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/GetFlightOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/UpdateFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFlightOrder">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteFlightOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFlightOrders">
      <soap:operation soapAction="HP.SOAQ.SampleApp/IFlightsSoapService/DeleteAllFlightOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>